table{
    width: 100%;
   
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid black;
}

th,td{
    
    width: 20%;
    padding: 15px;
    text-align: left;
}


tbody tr:hover{
    background-color: #ccc;
}

tr a{
    display: none;
}
tr:hover a{
    display: inline-block;
}